body {
font-family: 'Alegreya Sans SC', sans-serif;
font-size: 1em;
}
a,
a:link,
a:hover,
a:active,
a:visited {

}

.swipeView {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  will-change: transform;
  align-content: center;
  overflow-x: auto;
  /*scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);*/
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

article {
  border: 1px solid;
  margin: 0.25em;
  scroll-snap-align: center; 
  scroll-snap-stop: always;
}

article header {
  background-color: black;
}  

article header, section {
    padding: 0.5em 1em;
}

article span {
    white-space: nowrap;
}

h1, h2 {
  color: white;
  margin: 0;
}

h2 {

}

li {
  font-style: italic;
}

article a {
  font-style: italic;
  white-space: nowrap;  
}

article a:hover {

}

footer {
  color: rgba(102, 102, 102, 1);
  padding: 1em;
}
